body{
    text-align: center;
}

.quadrado{
    text-align: center;
    width: 50px;
    display: inline-block;
    background-color: #eee;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color:#eee;
}

.jogador, .vencedor{
    font-size: 30px;
    margin-top: 10px;

}

button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: #eee;
}